.create-pet {
    background: linear-gradient(rgba(0,0,0,.19), rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/979503/pexels-photo-979503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}